.container{
    width: 100%;
}

.containercover{
    width: 100%;
    padding: 2rem;
}
.titleheader
{
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.title{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    background-color: rgb(218, 218, 218);
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    font-weight: 600;
}
.ullist{
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    transition: all ease-in-out 0.2s;
    height: 60vh;
    scrollbar-width: none;
    
}
.lilist{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 0.5rem;
}
.lilist> p{
    /* text-align: center; */
}
.icondiv{
    display: flex;
    gap: 3rem;
}

.icondiv > i:nth-child(1){
color: rgb(85, 84, 84);
cursor: pointer;
}

.icondiv > i:nth-child(2){
color: rgb(245, 82, 82);
cursor: pointer;
}