.container {
    width: 100%;
}

.containerCover {
    width: 100%;
    padding: 0rem 2rem;
}

.titleHeader {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.title {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    background-color: rgb(218, 218, 218);
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.ulList {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    transition: all ease-in-out 0.2s;
    height: 60vh;
    scrollbar-width: none;

}

.liList {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 0.5rem;
}

.liList>p {
    /* text-align: center; */
}

.p {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.iconDiv {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.iconDiv>i:nth-child(1) {
    color: rgb(85, 84, 84);
    cursor: pointer;
}

.iconDiv>i:nth-child(2) {
    color: rgb(245, 82, 82);
    cursor: pointer;
}

.bookBtn {
    padding: 0.6rem 1.2rem;
    background-color: #2ea043;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 64%;
    align-self: center;
}

.selectTag {
    display: flex;
    align-items: center;

}

.selectTag>select {
    padding: 0.4rem;
    outline: none;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(117, 117, 117, 0.121);
}

.selectTag>select>option {
    padding: 0.2rem;
    border-bottom: 1px solid gray;
}

.Pending {
    color: rgb(163, 32, 32);

}

.Scheduled {
    color: rgba(145, 143, 44, 0.89);

}

.Completed {
    color: rgb(68, 155, 34);


}

.Cancelled {
    color: rgba(125, 125, 125, 0.911);

}

.selectTag>select:hover {
    background-color: rgba(128, 128, 128, 0.194);
}