.container {
  padding: 2rem;
  overflow-y: scroll;
  padding-bottom: 0;
  scrollbar-width: none;
  padding-top: 1rem;
  height: 79vh;

}

.diseaseContainer {
  margin-top: 0.5rem;
  display: flex;
  gap: 3rem;
  height: 12vh;
}

.eye {
  position: relative;
  font-size: 0.8rem;
  left: -4rem;
  top: 0.5rem;
  color: #797777;
  cursor: pointer;
}

.search {
  outline: none;
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgba(128, 128, 128, 0);
  margin-bottom: 0.5rem;
  position: relative;
}

.noRecord {
  width: 50%;
  height: 100%;

}

.searchInput {
  padding: 0.45rem;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s;
  border: none;

}

.search::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #007bff;
  width: 0;
  transition: width 0.3s ease-in;
  z-index: 1;
}



.search i {
  border-radius: 0.5rem;
  padding: 0.4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: rgb(112, 111, 111);
  border-right: none;
  margin-bottom: 0.4rem;
  padding-top: 0.49rem;

}


.search:focus-within::before {
  width: 240px;
}

.container>h1 {
  color: #161b22;
  margin-top: 0;
}

.appointmentCardCover {
  width: 100%;
  height: 48vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0.2rem;
  justify-content: flex-start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.line {
  border-bottom: 1px solid gray;
}

@keyframes fillcolor {
  to {
    width: 30px;
  }
}

/*  */

.breadcrumbs {
  --color-text: #5d5d5d;
  width: 100%;
  background: transparent;
  padding: 0px;
}

.breadcrumbs__list {
  list-style: none;
  margin: 1rem;
  padding-left: 1.2rem;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:first-child a::before {
  content: "\f015";
  font-family: FontAwesome;
  padding: 2px;
}

.breadcrumbs li:first-child a::before,
.breadcrumbs li+li::before {
  font-size: 15px;
  color: var(--color-text);
}

.breadcrumbs li+li::before {
  padding: 8px;
  content: "\f105";
  font-family: FontAwesome;
}

.breadcrumbs li a {

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-text);
  text-transform: capitalize;
  transition: color 0.24s linear;
  cursor: pointer;
}



@media (hover: hover) {
  .breadcrumbs li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}