.breadcrumbs {
    --color-text: #5d5d5d;
    width: 100%;
    background: transparent;
    padding: 0px;
}

.breadcrumbs__list {
    list-style: none;
    margin: 1rem;
    padding-left: 1.2rem;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li:first-child a::before {
    content: "\f015";
    font-family: FontAwesome;
    padding: 2px;
}

.breadcrumbs li:first-child a::before,
.breadcrumbs li+li::before {
    font-size: 15px;
    color: var(--color-text);
    margin-right: 0.5rem;
}

.breadcrumbs li+li::before {
    padding: 8px;
    content: "\f105";

    font-family: FontAwesome;
}

.breadcrumbs li a {

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: var(--color-text);
    text-transform: capitalize;
    transition: color 0.24s linear;
    cursor: pointer;
    text-decoration: none;
}



.breadcrumbs li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}