.container {

  width: 80%;
  margin-top: 2rem;
}

.fieldCoverDiv {
  width: 21%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputfield {

  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.inputfield:hover {

  box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.1);
}

.inputfield:focus {
  outline: none;
  border: 1px solid rgba(234, 100, 216, 0.438);
  ;
}

.star {
  color: red;
}

.fielderror {
  color: rgb(244, 82, 82);
  margin: 0;
}

::placeholder {
  color: #797777;
}

.labelradio {
  margin-right: 0.5rem;
}

.submitBtn {
  color: rgb(250, 250, 250);
  background-color: #3498db;

  padding: 0.6rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.backBtn {
  color: rgb(250, 250, 250);
  padding: 0.6rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  color: rgb(163, 140, 140);
  margin-right: 10px;
}

.previewImage {
  width: 180px;
  height: 155px;
  max-height: 190px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btnStyle {
  display: flex;
  justify-content: right;
  position: relative;
  gap: 0.8rem;
  bottom: 0rem;
}

.uploadBtn {
  padding: 0.5rem 0.5rem;
  width: 36%;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.uploadBtn:hover {
  background-color: #becde0;
}

.uploadBtn:disabled {
  background-color: lightgreen;
  cursor: not-allowed;
  width: 40%;
}


.deleteBtn {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(244, 43, 43);
  color: white;
  cursor: pointer;
  margin-top: 10px;

  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: darkred;
}

.inputfield:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;

}