.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.coverLeftRight{
    display: flex;
    justify-content: space-between;
}
.coverLeft{
    width: 47%;
}
.coverRight{
    width: 47%;
}
.modalContent {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.inputTag {
    width: 90%;
    padding: 10px;
   
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.submitBtn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #2ea043;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.submitBtn:hover {
    background-color: darkgreen;
}

.openBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.openBtn:hover {
    background-color: #0056b3;
}


.h2tag{
    color: antiquewhite;
    display: block;
}