/* PatientList.module.css */
.container {
    padding: 20px;
    padding-top: 0;
    font-family: 'Arial', sans-serif;
}

h2 {

    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 2rem;
}

.backBtn {
    padding: 0.6rem 1.2rem;
    background-color: transparent;

    color: #7b7676;
    margin-right: 0.5rem;
    border-radius: 6px;
    border: 1px solid #7b76766b;
    cursor: pointer;
    margin-top: 2rem;
    align-items: start;
}
.backBtn:hover{
   background-color: #7b767634;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters input,
.filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.4rem;
}

.tableWrapper {
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 32vh;
}

.row {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.header {
    position: sticky;
    background-color: rgb(238, 238, 238);
    color: black;
    z-index: 5;
    top: 0;
    font-weight: bold;
}

.activeRow {
    background-color: #e8e8e8;
}

.actions {
    display: flex;
    justify-content: left;
    padding-left: 2rem;
}

.actions button {
    background-color: #ff6b6b;
    border: none;
    padding: 6px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.actions button:nth-child(1) {
    background-color: #f0932b;
}

.actions button:nth-child(3) {
    background-color: #7f8c8d;
}

.addBtn {
    padding: 0.6rem 1.2rem;
    background-color: #2ea043;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.formDiv {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.topDiv {
    display: flex;
    gap: 2rem;
}

.medicineDuration {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelDiv {
    margin-bottom: 0.5rem;
}

.labelHead {
    margin-right: 1rem;
}

.labelOption {
    margin-right: 1rem;
}

.labelOption>pre {
    display: inline-block;
    margin: 0;
}

.labelDiv>input {
    margin-right: 1rem;
}

.marginCheck {
    margin-right: 2.3rem;
}

.submitBtn {
    padding: 0.6rem 1.2rem;
    background-color: #2ea043;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    align-items: start;
}

.btnCover {
    display: flex;
    width: 100%;
    justify-content: right;
}