/* ProductTable.module.css */

.container {
    background-color: white;
    color: black;
    padding: 20px 30px 20px 30px;
    
    font-family: 'Segoe UI', sans-serif;
    height: 82vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addBtn {
    background-color: rgb(7, 133, 7);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.filterGroup {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #1e293b;
    padding: 5px 10px;
    border-radius: 5px;
}

.icon {
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search {
    /* margin: 20px 0; */
    margin: 0; 
    padding: 8px 12px;
    width:31%;
    border-radius: 5px;
    border: none;
    /* background-color: #edebeb; */
    color: rgb(17, 15, 15);
    outline: none;
    /* visibility: hidden; */
    display: none;
}
.tableWrapper {
    max-height: 66vh; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    scrollbar-width: none;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 16px;
    text-align: left;
    background: white;
  }
  
  .table thead th {
    position: sticky;
    top: 0;
    background-color: #f9f9f9; /* or any header bg color */
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  }
  
.item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.status {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
}

.active {
    background-color: #064e3b;
    color: #34d399;
}

.disabled {
    background-color: #1e293b;
    color: #94a3b8;
}
.delete{
    background-color: rgb(244, 53, 53);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/*  */


.breadcrumbs {
    --color-text: #5d5d5d;
    width: 100%;
    background: #f3f3f3;
    padding: 5px;
  }
  
  .breadcrumbs__list {
    list-style: none;
    margin: 0.5rem;
    padding-left: 0.2rem;
  }
  
  .breadcrumbs li {
    display: inline;
  }
  
  .breadcrumbs li:first-child a::before {
    content: "\f015";
    font-family: FontAwesome;
    padding: 2px;
  }
  
  .breadcrumbs li:first-child a::before,
  .breadcrumbs li+li::before {
    font-size: 15px;
    color: var(--color-text);
  }
  
  .breadcrumbs li+li::before {
    padding: 8px;
    content: "\f105";
    font-family: FontAwesome;
  }
  
  .breadcrumbs li a {
    
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: var(--color-text);
    text-transform: capitalize;
    transition: color 0.24s linear;
    cursor: pointer;
  }
  
  .breadcrumbs li:nth-child(3)>a {
    color: gray;
    cursor: default;
  }
  
  @media (hover: hover) {
    .breadcrumbs li a:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }