@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NL+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: rgb(20, 6, 6);
  border-radius: 5px;
  transition: all 0.3s;
}

#menu-toggle:checked + .hamburger span:nth-child(1){
  transform: rotate(45deg) translate(5px,5px);
}
#menu-toggle:checked + .hamburger span:nth-child(2){
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3){
  transform: rotate(-45deg) translate(5px,-5px);
}

/* ------------------HEADER---------------- */

header {
  width: 100%;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.navbar > img {
  filter: brightness(1) invert(0);
  background-color: transparent;
  width: 4.5rem;

}

.nav-links {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: none;
}

.nav-links > li {
  list-style: none;
}

.nav-links > li > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.navbar > button {
  width: 7rem;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: #000000;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #eeeeee;
}

/* ---------------------content------------- */
content {
  display: flex;
  width: 100%;
  height: 90vh;
  gap: 5%;
  background-color: white;
  padding: 20px;
}
.c-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}
.c-left-sub > h1 {
  margin-bottom: 1rem;
  font-size: 350%;
  color: rgba(0, 0, 0, 0.879);
}
.c-left-sub > h2 {
  margin-bottom: 1rem;
  font-size: 250%;
  color: rgba(0, 0, 0, 0.879);
}
.c-left-sub > p {
  color: rgba(0, 0, 0, 0.879);
  margin-bottom: 2rem;
  text-align: left;
}
.c-left-sub > label {
  margin-right: 0.5rem;
}
.c-left-sub > label > i {
  margin-right: 0.3rem;
}
.name {
  color: orangered;
}
.c-right {
  width: 50%;
  position: relative;
}
.c-right > img{
  transition: transform 0.2s;
}
.c-right > img:nth-child(1) {
  position: absolute;
  left: 0;
  width: 50%;
  border-radius: 15px;
  z-index: 1;
}
.c-right > img:nth-child(2) {
  position: absolute;
  left: 40%;
  width: 50%;
  top: 10%;
  border-radius: 15px;
  z-index: 2;
}
.c-right > img:nth-child(3) {
  position: absolute;
  width: 40%;
  top: 45%;
  border-radius: 15px;
  z-index: 3;
  left: 10%;
}
/* -----------------------end  content ------ */

/* ----------------About ------------------- */

.about-event {
  width: 100%;
  background-color: white;
  height: 95vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 20px;
}

.content-right {
  width: 100%;
  padding: 0px 20px 0px 20px;
}
.content-left {
  width: 100%;
  padding: 0px 20px 0px 32px;
}

.content-left > .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.img-wrapper {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.img-wrapper:hover img {
  transform: scale(1.5);
}
.img-wrapper:nth-child(odd) {
  transform: translateY(-20px);
}
.img-wrapper:nth-child(even) {
  transform: translateY(20px);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content > h4 {
  font-size: 26px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.content > h2 {
  font-size: 44px;
}
.content > p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 28px;
  padding-bottom: 10px;
  text-align: left;
}

/* -----------------end About---------------- */

/* ------------------Speaker section -------------- */

.speaker {
  width: 100%;
  background-color: white;
  padding: 0px 20px 20px 20px;
}
.speaker > h2 {
  text-align: center;
  padding: 1.2rem;
  margin: 1rem;
  color: rgba(0, 0, 0, 0.872);
}
.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 26px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vh;
  height: 20vh;
}
#img {
  width: 100%;
  height: 100%;
}
.img1 {
  background-image: url(./modi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.img2 {
  background-image: url(./amitshah.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img3 {
  background-image: url(./devendra-fadnavis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img4 {
  background-image: url(./Eknath-Shinde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img5 {
  background-image: url(./urb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img6 {
  background-image: url(./srb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img7 {
  background-image: url(./ysb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.img8 {
  background-image: url(./Media.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.img9 {
  background-image: url(./raj-thackeray.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.card > h4 {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 14px;
  color: #71777d;
}

/* ------------------end Speaker ------------------- */

/* ------------------Schedule ---------------------- */

.schedule {
  width: 100%;
  height: 83vh;
  background-color: white;
  padding: 20px;
}
.schedule > h2 {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.872);
  font-size: 1.5rem;
  margin-bottom: 2.3rem;
}
.ss-cards {
  width: 100%;
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  gap: 30px;
}
.sss-card {
  width: 100%;
  border-radius: 15px;
  border: none;
  position: relative;
  overflow: hidden;
}
.sss-card > img {
  width: 100%;
  height: 100%;
}
.float-card {
  position: absolute;
  background-color: whitesmoke;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 15px;
  padding: 10px 20px 20px 20px;
  box-shadow: 2px 2px 8px 1px rgba(128, 128, 128, 0.61);
  border: none;
  left: 0;
  right: 0;
  bottom: -9rem;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s;
}
.float-card > h3,
p,
b {
  text-align: center;
}

/* --------------------------end schedule ----------------------- */

/* ---------contact -------------- */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #111827;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.15s ease;
}

.checkbox-group {
  display: flex;
  align-items: start;
  gap: 0.75rem;
  margin-top: 1rem;
}

.checkbox-group label {
  font-size: 0.875rem;
  color: black;
}

button {
  background: orangered;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

button:hover {
  background: orange;
}

/* ------------footer --------- */

.footer {
  padding: 40px 0;
  background-color: #000000;
  color: white;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  display: inline-block;
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.footer .footer-break {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}
/* ---------------------------------------- */

/* --------------------HOVER------------------- */

.nav-links > li > a:hover {
  color: orangered;
}

.sss-card:hover .float-card {
  animation: show-dta 1s forwards;
  opacity: 1;
}

.sss-card:hover {
  animation: remove-overflow 1s forwards;
}

.but:hover {
  color: #43d8c9;
}

.c-right > img:hover{
  transform: scale(1.1);
}

@keyframes show-dta {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

/* -------------------------------------------- */

 @media screen and (max-width: 440px) {
  .nav-links ul {
    display: none;
  }
  .navbar > button {
    display: none;
  }
  /*********** Navbar ************/
  .navhide {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 70px;
    right: 35px;
    background-color: #0e0b0b;
    padding: 1rem 5rem;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
  }
  .navbar {
    justify-content: space-between;
  }
  #menu-toggle:checked + .hamburger + .navhide {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
}
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .hamburger {
    display: flex;
  }
  header{
      padding: 15px;
  }
  .schedule {
    width: 100%;
    height: 156vh;
    background-color: white;
    padding: 20px;
}

.ss-cards {
    width: 100%;
    height: 95%;
    display: grid
;
    justify-content: center;
    grid-template-columns: 82%;
    gap: 30px;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 1.6rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
}

@media screen and (max-width: 500px) {
  .nav-links ul {
    display: none;
  }
  .navbar > button {
    display: none;
  }
  /*********** Navbar ************/
  .navhide {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 70px;
    right: 35px;
    background-color: #0e0b0b;
    padding: 1rem 5rem;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
  }
  .navbar {
    justify-content: space-between;
  }
  #menu-toggle:checked + .hamburger + .navhide {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
}
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .hamburger {
    display: flex;
  }
  header{
      padding: 15px;
  }
  .schedule {
    width: 100%;
    height: 156vh;
    background-color: white;
    padding: 20px;
}

.ss-cards {
    width: 100%;
    height: 95%;
    display: grid
;
    justify-content: center;
    grid-template-columns: 82%;
    gap: 30px;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 1.6rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
}


@media screen and (max-width: 760px) {
  .nav-links ul {
    display: none;
  }
  .navbar > button {
    display: none;
  }
  /*********** Navbar ************/
  .navhide {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 70px;
    right: 35px;
    background-color: #0e0b0b;
    padding: 1rem 5rem;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
  }
  .navbar {
    justify-content: space-between;
  }
  #menu-toggle:checked + .hamburger + .navhide {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
}
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .hamburger {
    display: flex;
  }
  header{
      padding: 15px;
  }
}

@media screen and (max-width: 800px) {
  content {
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 5%;
    background-color: white;
    padding: 20px;
  }
  .c-left {
    width: 100%;
  }

  .c-right {
    width: 100%;
    display: none;
  }
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-gap: 20px;
  }
  .about-event {
    width: 100%;
    background-color: white;
    height: 100%;
  }
}
