* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 100%;
    height: 100vh;

}

.navbar {
    width: 100%;
    height: 12%;
    background-color: white;
    display: flex;
    align-items: center;
}

.navbar h3 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.boxing-container {
    padding: 0rem 5rem 0rem 5rem;
    height: 87%;
}

.overview {
    background-color: #FAFAFA;
    padding: 1rem 2rem 1.5rem 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overview h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.balance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.current p {
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.854);
}

.expense p {
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.854);
}

#current {
    color: #12c48b;
    font-size: 1.5rem;
}

#expense {
    font-size: 1.5rem;
    color: rgba(245, 104, 104, 0.85);
}

.process-bar {
    display: inline-block;
    width: 95%;
    height: 5px;
    border-radius: 15px;
  
    box-shadow: inset 0px 4px 8px rgba(129, 129, 129, 0.381);
}

.fill-bar {
    width: 50%;
    background-color: #12c48b;
    height: 100%;
    border-radius: 15px;
   
}
#progress-percentage{
    margin-left: 5px;
}
#addTransaction {
    background-color: #12c48b;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(17, 195, 139, 0.174);

}

#addTransaction:hover {
    box-shadow: 0 4px 4px 0 rgba(17, 195, 139, 0.324);
}

#addTransaction i {
    color: white;
    margin-right: 0.1rem;
}

.border-div {
    border: 1px solid #f3f2f2;
    ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.filter {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin: 1rem;
}

.filter-first span i {
    color: rgba(128, 128, 128, 0.737);
}

.filter-first span {
    padding: 0.5rem;
    /* border:0.1rem solid rgba(128, 128, 128, 0.541); */
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-first {
    display: flex;
    gap: 2rem;
    width: 60%;
    align-items: center;
}

.filter-first label {
    display: flex;
    width: 40%;
    align-items: center;

}

#search {
    border: none;
    margin-left: 0.5rem;
    width: 70%;
    outline: none;
    font-size: 1rem;
    box-shadow: none;
    padding: 0px;
}

#select-sort {
    border: 0.1rem solid rgba(128, 128, 128, 0.541);
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    width: 60%;
    margin-left: 1rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    ;
}

/* ------------------------- */

.list ul {
    list-style: none;
    height: 80vh;
    margin-top: 1.5rem;
    overflow: scroll;
    scrollbar-width: none;
}

.list ul li {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    margin-bottom: 0.5rem;
    background-color: rgb(249, 243, 243);
}

.li-right h2 {
    color: black;
    margin-bottom: 0.6rem;
    display: inline;
}

.li-right p {
    color: #a9a9a9;
    display: inline;
    font-size: 12px;
}

/* -----------------------list  */

.transaction-container {
    width: 100%;

    background-color: #ffffff;
    
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

h2 {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.transaction {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    overflow: hidden;
}

#deletebtn {
    position: absolute;
    right: 0px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: rgb(245, 104, 104);
    cursor: pointer;
    transform: translateX(80px);
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.transaction:hover #deletebtn {
    transform: translateX(0px);
}
.transaction:last-child {
    border-bottom: none;
}

.details {
    display: flex;
    align-items: center;
}

.details img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.details h3 {
    font-size: 16px;
   
}

.details p {
    font-size: 14px;
    color: #777;
}

.amount {
    text-align: right;
}

.amount p {
    font-size: 16px;
    font-weight: bold;
}

.amount span {
    font-size: 12px;
    color: #999;
}
option{
    color: black;
}

.option-select2{
    color: gray;
}

.divv{
    display: flex;
    align-items: center;
}
.category {
    font-weight: bold;
    border-radius: 50%;
    color: #fff;
    width: 36px;
    height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 5px;
  }
  .shopping {
    background-color: #ff8a65;
  }
   
  .beauty {
    background-color: #ab47bc;
  }
   
  .food {
    background-color: #ffa726;
  }
   
  .home {
    background-color: #42a5f5;
  }
   
  .other {
    background-color: #78909c;
  }
   
  .salary {
    background-color: #66bb6a;
  }

  .negative {
    color: rgba(245, 104, 104, 0.85);
  }
   
  .positive {
    color: #12c48b;
  }

  .title{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FAFAFA;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .title h3{
    width: 20%;
    color: #A1A6A9;
    font-size: 1rem;
    font-weight: 400;
  }
.expence-cover{
    display: block;
    /* display: none; */
    margin-bottom: 2rem;
    padding:0.2rem 2rem;
    height: 50vh;
    scrollbar-width: none;
    overflow-y:scroll ;
}
.chart-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 1.9rem;

}
/* #left-chart{
    width: 46%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* #right-chart{
    width:45% ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */

  /* Popup Styles */

  .up{
    display: flex;
    justify-content: space-around;
  }
  .up h3{
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
  }
   
  .popup-content {
    background: white;
    padding: 20px;
    width: 83%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
   
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
   
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
   
  input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 120%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }
   .dowm{
    display: flex;
    justify-content: end;
   }
  .submit-btn {
    background-color:  #12c48b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 8px;
    box-shadow: 0 4px 4px 0 rgba(17, 195, 139, 0.174);
    
    cursor: pointer;
  }
  .cancel-btn{
    background-color:  gray;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
  }
   
  .submit-btn:hover {
    background-color:  #10d396;
    box-shadow: 0 4px 4px 0 rgba(17, 195, 139, 0.276);
  }
.notrancsactiondispaly{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}
#right-chart{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#left-chart{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#myChart, #myChart2{

        width:100% !important;
       height: 20rem !important;
        
}
.label-div{
    text-align: left;
    width: 20%;
}
.details{
    width: 20%;
}
.date-div{
    text-align: left;
    width: 20%;
}
.amount{
    width: 20%;
}
.title-transaction{
   text-align: right;
}
@media screen and (max-width: 780px) {
    
    .chart-container {
        display: flex
    ;
        /* display: none; */
        gap: 2rem;
        flex-direction: column;
       
    }
  }