*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.padmr{
    padding: 1.5rem;
}

.main{

    width: 100%;
    background-color:#1E1E1E;
   align-content: center;
   
}
.outer{
    width: 60%;
    margin: auto auto;
    
}
.outer h1{
    color: white;
    text-align: center;
    margin: 1.5rem;
    
}
.inner{
   background-color: #343434;
   padding: 2rem;
   box-shadow: 0.2rem 0.2rem 0.5rem rgba(15, 15, 15, 0.676)
}

.line{
    margin-bottom: 1.5rem;
    border:1px solid rgba(255, 255, 255, 0.635);
}

/* Title Area */
.title{
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    color: white;
    padding-bottom: 1.5rem;
    
}
.task-list{
    width: 63%;
   
}

/* .title button{
    background-color: rgb(24, 24, 24);
    color: white;
    height: 16px;
    border: 1px solid white;
    cursor: pointer;
} */
.one{
    width: 100%;
}
.one h4{
    margin-bottom:10px;
}
.one input{
    padding: 0.3rem;
    width: 100%;
    height: 2rem;
    border-radius: 0px;
    border: none;
    margin-bottom: 1.3rem;
}
.one textarea{
    padding: 0.3rem;
    width: 100%;
    height: 2rem;
    border-radius: 0px;
    border: none;
    resize: vertical;
    height: 40px;
    margin-bottom: 1.3rem;
    overflow-y: auto; 
}
.sub-btn{
    height: 1.7rem;
    width: 3.3rem;
    background-color: #6C63FF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.sub-btn:hover{
    background-color: #5a52f7;
    color: white;
    border: none;
    margin-top: 1rem;
}

.two-div-DC{
    display: flex;
    justify-content: left;
    gap: 4rem
    ;
    align-items: flex-end;
}
.category {
    width: 30%;
}
.due-date{
    width: 30%;
}
.category h4{
    font-size: 1rem;
    margin-bottom: 8px;
}
.category select{
    padding: 0.2rem;
    width: 100%;
    border-radius: 0px;
    border: none;
}
.due-date h4{
      font-size: 1rem;
      margin-bottom: 8px;
}
/* .list button:nth-child(1){
    background-color:#6C63FF;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 3.2rem;
    margin: 0;

} */


/* 
.list button:nth-child(2){
    background-color: gray;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 5rem;
    margin: -5px;
} */

.list ul{
    list-style: none;
    height: 42vh;
    margin-top: 1.5rem;
    overflow: scroll;
    scrollbar-width: none;
}
.list ul li{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    margin-bottom: 0.5rem;
    background-color: #454444;
}
.li-right h2{
   color: whitesmoke;
   margin-bottom: 0.6rem;
   display: inline;
}
.li-right p {
    color: #a9a9a9;
    display: inline;
    font-size: 12px;
}
/* .li-left > button > i{
    
   font-size: 1.2rem;
   align-content: center;
   margin: 0.5rem;
   color:  #02C067;
   
} */
.li-left > button{
    /* margin: 0.5rem; */
}
/* .li-left > button > i:nth-child(1){
    
    font-size: 1.2rem;
    align-content: center;
    color: rgba(240, 6, 6, 0.776);
    
    
 } */

.edit{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 3.2rem;
    margin: 0;
}

.check{
    cursor: pointer;
    background-color: transparent;
    color: greenyellow;
    border: none;
    cursor: pointer;
    width: 5rem;
    
}
.check:hover{
    
    
    color: rgb(153, 233, 34);
  
}

.delete{
    
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: none;
        color: rgb(243, 132, 132);
        margin-top: 0.6rem;
        cursor: pointer;
 }
 .delete:hover{
   
    color: rgb(244, 103, 103);

 }

 .todo-btn{
    background-color: gray;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 3.2rem;
    margin: 0;
 }

 .com-btn{
    background-color: gray;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 5rem;
    margin: -5px;
 }

 .active{
    background-color: #6C63FF;
    color: white;
    }


.clear-btn{
    background-color:  #6C63FF;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0px 0px 0px 4px;
    float: right;
    
}
.clear-btn:hover{
    background-color: #5a52f7;
}
 /* --------Change window scroller style */

 :root {
    --scrollbar-bg: transparent;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    visibility: none;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
    visibility: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

html {
    scrollbar-width: none;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

/* Calendar */

.calendar {
    height: 39vh;
    width: 32%;
    /* margin-top: 0.8rem; */
    border-radius: 10px;
    overflow: hidden;
    font-family: monospace;
}
  
  .day,.month,.date,.year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .month {
    height: 15%;
    
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-family: fantasy;
  }
  
  .day ,.year{
    height: 15%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .date { 
    height: 55%;
  
  font-size: 5rem;
  font-weight: 900;
  }

.slide-right {
    animation: slideRight 0.5s ease-in-out forwards;
}
#star-red{
    color: rgba(255, 0, 0, 0.854);
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
 
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


  @media screen and (max-width: 769px) {
    
    
.two-div-DC {
    display: flex
;
    justify-content: left;
    gap: 1rem;
    align-items: flex-end;
}

.category {
    width: 34%;
}
.due-date {
    width: 34%;
}
#due-date{
    width: 100%;
    height: 26px;
}
.li-left{
align-content: center;
}

.li-left > button {
    margin: 2px;
}
  }

  
  @media screen and (max-width: 1033px) {
    .outer {
        width: 70%;
        margin: auto auto;
    }
    .two-div-DC {
        display: flex
    ;
        justify-content: left;
        gap: 3rem;
        align-items: flex-end;
    }
    #due-date{
        width: 100%;
        height: 26px;
    }
  }

  
  
  @media screen and (max-width: 801px) {
    .outer {
        width: 70%;
        margin: auto auto;
    }
    .two-div-DC {
        display: flex
    ;
        justify-content: left;
        gap: 2rem;
        align-items: flex-end;
        
    }
    #due-date{
        width: 100%;
        height: 26px;
    }
  }

  @media screen and (max-width: 450px) {
    .outer {
        width: 90%;
        margin: auto auto;
    }
    .two-div-DC {
        display: flex
    ;
        justify-content: left;
        gap: 2rem;
        align-items: flex-end;
        
    }
    #due-date{
        width: 100%;
        height: 26px;
    }
    .title {
        display: flex
    ;
        gap: 1.2rem;
        flex-direction: column;
       
        color: white;
        padding-bottom: 1.5rem;
    }
    
    .calendar {
        height: 39vh;
        width: 100%;
        /* margin-top: 0.8rem; */
        border-radius: 10px;
        overflow: hidden;
        font-family: monospace;
    }
    .task-list {
        width: 100%;
    }
    .one {
        width: 100%;
    }
        .two-div-DC {
            display: flex
    ;
            justify-content: left;
            gap: 1rem;
            align-items: flex-end;
        }
    
    .category {
            width: 40%;
        }
    
    .list ul li {
        display: flex
    ;
        flex-direction: column;
        gap: 9px;
        /* justify-content: space-between; */
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        margin-bottom: 0.5rem;
        background-color: #454444;
    }
    
        .li-left {
            margin-bottom: 6px;
            justify-content: space-around;
            display: flex
    ;
            /* align-content: center; */
        }
    
    .delete {
        height: 2rem;
        width: 3.3rem;
        position: relative;
        background-color: #6C63FF;
        border: none;
        color: white;
        top: 0px;
        margin-top: 0px;
        cursor: pointer;
    }
  }