@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
}

.grid-tem {
  display: grid;
  grid-template-columns: auto;

}

.nav {
  grid-row-start: 1;
  grid-row-end: 2;
}

.main {
  grid-row-start: 2;
  grid-row-end: 3;
}

.foot {
  grid-row-start: 3;
  grid-row-end: 4;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 37px;
  padding-right: 37px;
}

.nav-div>button {
  height: 40px;
  width: 150px;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  color: hsl(322, 100%, 66%);
  ;
  border-radius: 25px;
  border: 1px solid hsl(322, 100%, 66%);
}

.home-page-div {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cen-div {
  align-content: center;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.cen-div>h1 {
  font-size: 43px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: hsl(192, 100%, 9%);
}

.cen-div>p {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color:  hsl(192, 100%, 9%);
  padding: 0px 20% 10px 20%;
  font-family: "Open Sans", sans-serif;
}

.cen-div>button {
  font-size: 18px;
  width: 37%;
  margin-top: 10px;
  height: 67px;
  align-self: center;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.509);
  font-family: "Poppins", sans-serif;
}

.img-page-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
}

.img-page-div>img {
  height: 90%;
  width: 75%;
}

.folo-div {
  display: flex;
  height: 60vh;
  width: 100%;
  justify-content: space-around;
}

.folo-div-right>h1 {
  font-size: 80px;
  margin-bottom: 0px;
  font-weight: 600;
  color:  hsl(192, 100%, 9%);
}

.folo-div-right>p {
  margin-top: 0px;
  font-size: 18px;
  color:  hsl(192, 100%, 9%);
  color: gray;
  text-align: center;
}

.folo-div-right>img {
  position: relative;
  left: -1px;
  top: 55px;
  height: 25px;
}

.imagecontaine {
  width: 100%;
  height: 100vh;
}

.image {
  width: 100%;
  height: 70%;
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(207, 100%, 98%);
  display: flex;
}
.imagecontaine4 > img{
  width: 100%;
}
.imagecontaine1_2 > img{
  width: 100%;
}

.imagecontaine1>img {
  display: block;
  height: 15%;
  width: 100%;
}

.imagecontaine3>img {
  width: 100%;
  margin-bottom: -7px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.con {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con-div {
  padding: 20% 5% 20% 15%;
}

.con-div>h1 {
  font-size: 36px;
  color:  hsl(192, 100%, 9%);
}

.con-div>p {
  margin-top: 10px;
  text-align: justify;
  word-spacing: -3px;
  font-family: "Open Sans";
  color:  hsl(192, 100%, 9%);
}

.img>img {
  height: 350px;
}

.imagecontaine2 {
  width: 100%;
  height: 100vh;

}

.image2 {
  width: 100%;
  height: 100%;
  display: flex;

}

.foot {
  width: 100%;
  height: 100vh;
}

.foot-div {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
}

.con-foot {
  position: absolute;
  top: 170px;
  display: flex;
  flex-direction: column;
}

.con-foot>h1 {
  font-size: 35px;
  color:  hsl(192, 100%, 9%);
  margin-top: 0px;
  font-family: "Poppins";
}

.con-foot>button {
  font-size: 18px;
  width: 65%;
  margin-top: 10px;
  height: 67px;
  align-self: center;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.509);
}

.con-foot-img {
  width: 100%;

}

.con-foot-img>img {
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.footerr {
  height: 90vh;
  display: flex;
  width: 100%;
  background-color: hsl(192, 100%, 9%);
}

.footer-left {
  width: 45%;
  height: 90%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  padding: 20px 10% 20px 9%;
}

.footer-left-child {
  position: relative;
  top: 97px;
}

.footer-left-child>img {
  filter: brightness(0)invert(1);
}

.footer-left-child>p {
  color: hsl(207, 100%, 98%);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

.ul-footer {
  padding: 0px;
}

.ul-footer>li {
  margin-bottom: 15px;
  list-style: none
}

.footer-icon>img {
  display: inline;
  margin-right: 12px;

}

.footer-icon>p {
  display: inline;
  font-size: 15px;
  color: hsl(207, 100%, 98%);
  font-family: "Open Sans";
}

.icon-footer-social {
  display: flex;
  height: 32px;
  margin-top: 47px;
}

.icon-footer-social>img {
  height: 30px;
  margin-right: 20px;

}

.footer-right-newsletter>h3 {
  font-size: 22px;
  color: hsl(207, 100%, 98%);
  font-weight: 500;

}

.footer-right-newsletter>p {
  color: hsl(207, 100%, 98%);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.footer-right-newsletter>input {
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 60%;
  margin-right: 30px;
}

.footer-right {
  width: 55%;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 20px 10% 20px 9%;
}

.footer-right-newsletter>button {
  border: none;
  border-radius: 4px;
  background-color: hsl(322, 98%, 58%);
  height: 40px;
  color: white;
  padding: 0px 30px 0px 30px;
  font-weight: 500;

}

.footer-right-newsletter {
  position: relative;
  top: 86px;
  left: 41px;
}

.footer-right-para {
  width: 72%;
  margin-bottom: 30px;
}

.footer-right-para>p {
  color: hsl(207, 100%, 98%);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

/* -------------------HOVER-------- */
.footer-right-newsletter>button:hover {
  background-color: hsl(321, 100%, 78%);
  cursor: pointer;

}
.nav-div>button:hover{
      box-shadow: 1px 1px 5px 0.1px hsl(321, 100%, 78%);;
}

.con-foot>button:hover {

  background-color: hsl(321, 100%, 78%);
  cursor: pointer;


}

.icon-footer-social > img:hover {
  /* filter: invert(12%) sepia(100%) saturate(3664%) hue-rotate(220deg) brightness(85%) contrast(108%); */
  filter: invert(63%) sepia(36%) saturate(4787%) hue-rotate(160deg) brightness(120%) contrast(104%);


}

.cen-div>button:hover {
  background-color: hsl(321, 100%, 78%);
  cursor: pointer;
}

.nav-div>button:hover {
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
  cursor: pointer;
}

@media only screen and (max-width: 382px) {
  .logo>img {
    height: 20px;
  }
 
  body{
    margin: 0px;
    overflow-x: hidden;
   
  }
  .nav-div>button {
    width: 76px;
    height: 25px;
    font-size: 10px;
  }

  .cen-div>button {
    width: 81%;
    margin-top: 10px;
    height: 43px;
    font-size: 12px;
  }

  .cen-div>h1 {
    font-size: 25px;
  }

  .cen-div>p {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
  }

  .cen-div {
    align-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .home-page-div {
    margin-bottom: 0px;
    height: 73vh;
  }

  .img-page-div {
    width: 100%;
    height: 50vh;
  }

  .img-page-div>img {
    width: 90%;
    height: 74%;
  }

  .folo-div {
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: space-around;
  }

  .folo-div-right>h1 {
    text-align: center;
    font-size: 62px;
  }

  .folo-div-right>p {
    margin-top: 0px;
    font-size: 15px;
    color: gray;
    text-align: center;
  }

  .folo-div-right>img {
    left: 95px;
    top: 50px;
  }

  .image {
    display: flex;
    flex-direction: column-reverse;
  }
 .imagecontaine2 {
  width: 100%;
  height: 75vh;
}
  .con {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .con-div {
    padding: 14% 8% 17% 8%;
  }

  .img>img {
    height: 200px;
    width: 217px;
    position: relative;
    left: 80px;
}

  .image2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .con-foot>h1 {
    font-size: 23px;
    margin-top: 0px;
    font-family: "Poppins";
    text-align: center;
}

.con-foot>button {
  height: 44px;
  font-size: 12px;
  width: 58%;
  margin-top: 10px;
}

  .con-div>h1 {
    font-size: 20px;
    text-align: center;
}

.con-div>p {
  font-size: 15px;
  word-spacing: 1px;
  text-align: center;
  font-weight: 400;
  padding: 2px;
}

.footerr {
  flex-direction: column-reverse;
  height: 132vh;
}

  .footer-right {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 20px 10% 20px 9%;
  }

  .footer-right-newsletter {
    position: relative;
    top: -4px;
    left: 5px;
  }

  .footer-right-newsletter>input {

    width: 100%;
    margin-bottom: 20px;
  }

  .footer-right-para {
    width: 101%;
    margin-bottom: 30px;
  }

  .footer-left-child {
    height: 80%;
    position: relative;
    top: 73px;
}

  .footer-left {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 20px 10% 20px 9%;
  }
  .img1-to-resp{
    visibility: hidden;
  }
  .imagecontaine1 {
    background-image: url(./images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    height: 100px;
}
  .img2-top-resp{
    visibility: hidden;
  }
  .imagecontaine1_2{
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
  }
  .img1-bot-resp{
    visibility: hidden;
  }
  .imagecontaine3 {
    background-image: url(./images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    height: 93px;
}
  .img2-bot-resp{
    visibility: hidden;
  }
  .imagecontaine4{
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
  }
  /* ---------------------------------- */
  .con-foot {
    position: absolute;
    top: 128px;
    display: flex;
    flex-direction: column;
}
.foot {
  width: 100%;
  height: 81vh;
}
.foot-div {
  height: 81vh;}

  .footer-right-newsletter>h3 {
    font-size: 19px;
    color: hsl(207, 100%, 98%);
    font-weight: 500;
}
.footer-right-newsletter>button {
  float: right;
  font-size: 15px;
  padding: 0px 32px 0px 32px
}
.footer-left-child>img {
  height: 33px;
}
.footer-icon>img {
  display: inline;
  margin-right: 12px;
  height: 16px;
}
.footer-icon>p {
  font-size: 14px;
}
.fa-brands{
  padding: 10px;
}
.footer-left-child>p {
  margin: 9px 0px 30px 0px;
}
.icon-footer-social {
  padding-top: 4px;
}
.icon-footer-social > img:hover {
fill: #00D5FF;
}

.imagecontaine4 {
  background-image: url(./images/bg-section-bottom-mobile-2.svg);
  height: 15%;
  background-repeat: no-repeat;
  filter: contrast(0.99);
}
.imagecontaine1_2 {
  background-image: url(./images/bg-section-bottom-mobile-1.svg);
  height: 10%;
  background-repeat: no-repeat;
  filter: contrast(0.99);
}
.imagecontaine3 {
  background-image: url(./images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  height: 15%;
  filter: contrast(0.99);
  
}
.imagecontaine1 {
  background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  height: 16%;
  filter: contrast(0.99);

}
.con-foot-img>img {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.con-div>p {
  font-size: 15px;
  word-spacing: 1px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
}
.folo-div-right>h1 {
  text-align: center;
  font-size: 58px;
}.folo-div-right>img {
  left: 107px;
  top: 49px;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-left: 37px;
  padding-right: 37px;
}

}


@media only screen and (max-width: 450px) {
  .logo>img {
    height: 20px;
  }
 
  body{
    margin: 0px;
    overflow-x: hidden;
   
  }
  .nav-div>button {
    width: 76px;
    height: 25px;
    font-size: 10px;
  }

  .cen-div>button {
    width: 81%;
    margin-top: 10px;
    height: 43px;
    font-size: 12px;
  }

  .cen-div>h1 {
    font-size: 25px;
  }

  .cen-div>p {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
  }

  .cen-div {
    align-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .home-page-div {
    margin-bottom: 0px;
    height: 73vh;
  }

  .img-page-div {
    width: 100%;
    height: 50vh;
  }

  .img-page-div>img {
    width: 90%;
    height: 74%;
  }

  .folo-div {
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: space-around;
  }

  .folo-div-right>h1 {
    text-align: center;
    font-size: 62px;
  }

  .folo-div-right>p {
    margin-top: 0px;
    font-size: 15px;
    color: gray;
    text-align: center;
  }

  .folo-div-right>img {
    left: 95px;
    top: 50px;
  }

  .image {
    display: flex;
    flex-direction: column-reverse;
  }
 .imagecontaine2 {
  width: 100%;
  height: 75vh;
}
  .con {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .con-div {
    padding: 14% 8% 17% 8%;
  }

  .img>img {
    height: 200px;
    width: 217px;
    position: relative;
    left: 80px;
}

  .image2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .con-foot>h1 {
    font-size: 23px;
    margin-top: 0px;
    font-family: "Poppins";
    text-align: center;
}

.con-foot>button {
  height: 44px;
  font-size: 12px;
  width: 58%;
  margin-top: 10px;
}

  .con-div>h1 {
    font-size: 20px;
    text-align: center;
}

.con-div>p {
  font-size: 15px;
  word-spacing: 1px;
  text-align: center;
  font-weight: 400;
  padding: 2px;
}

.footerr {
  flex-direction: column-reverse;
  height: 132vh;
}

  .footer-right {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 20px 10% 20px 9%;
  }

  .footer-right-newsletter {
    position: relative;
    top: -4px;
    left: 5px;
  }

  .footer-right-newsletter>input {

    width: 100%;
    margin-bottom: 20px;
  }

  .footer-right-para {
    width: 101%;
    margin-bottom: 30px;
  }

  .footer-left-child {
    height: 80%;
    position: relative;
    top: 73px;
}

  .footer-left {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 20px 10% 20px 9%;
  }
  .img1-to-resp{
    visibility: hidden;
  }
  .imagecontaine1 {
    background-image: url(./images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    height: 14%;
    filter: contrast(0.99);
    width: 100vw;
    background-size: cover;
}
  .img2-top-resp{
    visibility: hidden;
  }
  .imagecontaine1_2 {
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 9%;
}
  .img1-bot-resp{
    visibility: hidden;
  }
  .imagecontaine3 {
    background-image: url(./images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    height: 15%;
    filter: contrast(0.99);
    background-size: cover;
}
  .img2-bot-resp{
    visibility: hidden;
  }
  .imagecontaine4 {
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    height: 15%;
    background-repeat: no-repeat;
    filter: contrast(0.99);
    background-size: cover;
}
  /* ---------------------------------- */
  .con-foot {
    position: absolute;
    top: 128px;
    display: flex;
    flex-direction: column;
}
.foot {
  width: 100%;
  height: 81vh;
}
.foot-div {
  height: 81vh;}

  .footer-right-newsletter>h3 {
    font-size: 19px;
    color: hsl(207, 100%, 98%);
    font-weight: 500;
}
.footer-right-newsletter>button {
  float: right;
  font-size: 15px;
  padding: 0px 32px 0px 32px
}
.footer-left-child>img {
  height: 33px;
}
.footer-icon>img {
  display: inline;
  margin-right: 12px;
  height: 16px;
}
.footer-icon>p {
  font-size: 14px;
}
.fa-brands{
  padding: 10px;
}
.footer-left-child>p {
  margin: 9px 0px 30px 0px;
}
.icon-footer-social {
  padding-top: 4px;
}
.icon-footer-social > img:hover {
fill: #00D5FF;
}

.imagecontaine4 {
  background-image: url(./images/bg-section-bottom-mobile-2.svg);
  height: 15%;
  background-repeat: no-repeat;
  filter: contrast(0.99);
}
.imagecontaine1_2 {
  background-image: url(./images/bg-section-bottom-mobile-1.svg);
  height: 10%;
  background-repeat: no-repeat;
  filter: contrast(0.99);
}
.imagecontaine3 {
  background-image: url(./images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  height: 15%;
  filter: contrast(0.99);
  
}
.imagecontaine1 {
  background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  height: 16%;
  filter: contrast(0.99);

}
.con-foot-img>img {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.con-div>p {
  font-size: 15px;
  word-spacing: 1px;
  text-align: center;
  font-weight: 600;
  padding: 2px;
}
.folo-div-right>h1 {
  text-align: center;
  font-size: 58px;
}.folo-div-right>img {
  left: 107px;
  top: 49px;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-left: 37px;
  padding-right: 37px;
}
.footerr {
  flex-direction: column-reverse;
  height: 100vh;
}

}