* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&family=Material+Symbols+Rounded&family=Material+Symbols+Sharp&display=swap");

#root {
    height: 100vh;
}

.Toastify__toast--success {
    background-color: #ffffff !important;
    color: rgb(114, 112, 112) !important;
}

.Toastify__toast--error {
    background-color: #f44336 !important;
    color: white !important;
}


::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #cacaca;

    ;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: black
}